.toDoList {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.toDoItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    gap: 5px;
}

.toDoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}