body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.works {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
}

.worksPt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
}